UUID=1000 # Your user id. You can find it by running `id -u` in the terminal.
GUID=1000 # Your group id. You can find it by running `id -g` in the terminal.

# Directories
# You MUST create these directories before running the container, otherwise you will run into permission issues.
MAYA_APP_DIR=~/maya # The directory where Maya will store user preferences and settings.
MAYA_PROJECTS_DIR=~/Documents # The directory where Maya will store project files.